absl-py==2.3.1
acres==0.5.0
aioboto3==15.1.0
aiobotocore==2.24.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioitertools==0.12.0
aiosignal==1.4.0
aiosqlite==0.21.0
aiqtoolkit==1.2.1
altair==5.5.0
annotated-types @ file:///C:/b/abs_0dmaoyhhj3/croot/annotated-types_1709542968311/work
anyio @ file:///C:/b/abs_5c8w79vk0u/croot/anyio_1745334672105/work
appdirs==1.4.4
asttokens==2.4.1
attrs==25.3.0
Authlib==1.3.2
banks==2.2.0
beautifulsoup4==4.13.5
blinker==1.9.0
boto3==1.39.11
botocore==1.39.11
brotlicffi @ file:///C:/b/abs_f4lixvzmxt/croot/brotlicffi_1736183286104/work
cachetools==6.2.0
certifi @ file:///C:/Users/task_176765914684981/croot/certifi_1767659268506/work/certifi
cffi @ file:///C:/b/abs_29_b57if3f/croot/cffi_1736184144340/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
ci-info==0.3.0
click @ file:///C:/b/abs_42rbjngfys/croot/click_1744271606983/work
colorama==0.4.6
comm==0.2.2
configobj==5.0.9
configparser==7.2.0
contourpy==1.3.3
cryptography==45.0.7
cycler==0.12.1
dataclasses-json==0.6.7
datasets==4.0.0
debugpy==1.8.5
decorator==5.1.1
Deprecated==1.2.18
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distro @ file:///C:/b/abs_71xr36ua5r/croot/distro_1714488282676/work
docstring_parser==0.18.0
et_xmlfile==2.0.0
etelemetry==0.3.1
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing==2.0.1
expandvars==1.1.1
faiss-cpu==1.12.0
fastapi==0.115.14
filelock==3.19.1
filetype==1.2.0
fonttools==4.61.1
frontend==0.0.3
frozenlist==1.7.0
fsspec==2025.3.0
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.6.15
google-api-core==2.30.3
google-api-python-client==2.195.0
google-auth==2.50.0
google-auth-httplib2==0.3.1
google-generativeai==0.8.6
googleapis-common-protos==1.74.0
greenlet==3.2.4
griffe==1.13.0
grpcio==1.74.0
grpcio-status==1.71.2
h11 @ file:///C:/b/abs_224rqu7kel/croot/h11_1748442031959/work
html2text==2025.4.15
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httplib2==0.30.0
httptools==0.6.4
httpx @ file:///C:/b/abs_9fclaf1b46/croot/httpx_1746747856672/work
httpx-sse==0.4.1
huggingface-hub==0.34.4
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
ipykernel==6.29.5
ipython==8.26.0
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.6
jiter @ file:///C:/b/abs_acsxrw36a6/croot/jiter_1729808947806/work
jmespath==1.0.1
joblib==1.5.2
jsonpatch @ file:///C:/b/abs_4fdm88t7zi/croot/jsonpatch_1714483974578/work
jsonpath-ng==1.7.0
jsonpointer @ file:///C:/b/abs_73u73l7pl9/croot/jsonpointer_1753788460913/work
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.9
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.75
langchain-openai @ file:///C:/b/abs_a8mtdv_1jn/croot/langchain-openai_1749072009133/work
langchain-text-splitters==0.3.11
langsmith @ file:///home/conda/feedstock_root/build_artifacts/langsmith_1755895710622/work
llama-cloud==0.1.37
llama-cloud-services==0.6.62
llama-index-core==0.13.3
llama-index-instrumentation==0.4.0
llama-index-workflows==1.3.0
llama-parse==0.6.62
looseversion==1.3.0
lxml==6.0.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.3
matplotlib-inline==0.1.7
mcp==1.12.4
mdurl==0.1.2
multidict==6.6.4
multiprocess==0.70.16
mypy_extensions==1.1.0
narwhals==2.3.0
nest-asyncio==1.6.0
networkx==3.5
nibabel==5.3.2
nipype==1.10.0
nltk==3.9.1
numpy==1.26.4
nvidia-nat==1.2.1
openai @ file:///C:/b/abs_f3ev2tn7ms/croot/openai_1746690315854/work
openinference-semantic-conventions==0.1.21
openpyxl==3.1.5
orjson @ file:///C:/b/abs_83d889opxx/croot/orjson_1737041235063/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==2.3.2
parso==0.8.4
pathlib==1.0.1
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==11.3.0
pkce==1.0.3
pkginfo==1.12.1.2
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
plotly==6.3.0
ply==3.11
portalocker==3.2.0
prompt_toolkit==3.0.47
propcache==0.3.2
proto-plus==1.27.2
protobuf==5.29.6
prov==2.1.1
psutil==6.0.0
pure_eval==0.2.3
puremagic==1.30
pyarrow==21.0.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.10.6
pydantic-settings==2.10.1
pydantic_core==2.27.2
pydeck==0.9.1
pydot==4.0.1
Pygments==2.18.0
pymilvus==2.6.1
PyMuPDF==1.26.4
pyparsing==3.2.3
pypdf==6.0.0
PyPDF2 @ file:///C:/b/abs_f4tepei_o0/croot/pypdf2_1733841487756/work
PySocks @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pysocks_1699473336188/work
python-dateutil==2.9.0.post0
python-dotenv @ file:///C:/b/abs_71cpoh9hpg/croot/python-dotenv_1745613639902/work
python-multipart==0.0.20
pytz==2025.2
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1752564075/work
pyxnat==1.6.3
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465556755/work
pyzmq==26.1.1
ragas==0.2.15
RapidFuzz==3.14.0
rdflib==7.1.4
referencing==0.36.2
regex @ file:///C:/b/abs_d785r851h6/croot/regex_1736542205858/work
requests==2.32.5
requests-toolbelt @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/requests-toolbelt_1699475466775/work
rich==13.9.4
rouge_score==0.1.2
rpds-py==0.27.1
s3transfer==0.13.1
sacrebleu==2.5.1
scipy==1.16.1
seaborn==0.13.2
setuptools==80.9.0
simplejson==3.20.1
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.2
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
soupsieve==2.8
SQLAlchemy==2.0.43
sse-starlette==3.0.2
stack-data==0.6.3
starlette==0.46.2
streamlit==1.49.1
tabulate==0.9.0
tenacity @ file:///C:/b/abs_1749lsqys6/croot/tenacity_1730304400080/work
tiktoken @ file:///C:/b/abs_62swfza6fk/croot/tiktoken_1748479170728/work
toml==0.10.2
tornado==6.4.1
tqdm @ file:///C:/b/abs_0eh9b6xugj/croot/tqdm_1738945553987/work
traitlets==5.14.3
traits==7.0.2
typing-inspect==0.9.0
typing-inspection @ file:///C:/b/abs_261c5jt6kx/croot/typing-inspection_1746023491500/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata==2025.2
ujson==5.11.0
uritemplate==4.2.0
urllib3 @ file:///C:/b/abs_393g1ayee_/croot/urllib3_1750775481226/work
uvicorn==0.32.1
watchdog==6.0.0
watchfiles==1.1.0
wcwidth==0.2.13
websockets==15.0.1
wheel==0.45.1
wikipedia==1.4.0
win-inet-pton @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/win_inet_pton_1699472992992/work
wrapt==1.17.3
xxhash==3.5.0
yarl==1.20.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard @ file:///C:/b/abs_31t8xmrv_h/croot/zstandard_1731356578015/work
